@model MagicVilla_Web.Models.DTO.VillaNumberUpdateDTO

<form asp-action="UpdateVillaNumber">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Edit Villa Number</h1>
        <hr />
        <div class="row">
            <div asp-validation-summary="ModelOnly"></div>
                <input asp-for="VillaNo" hidden />

            <div class="col-2">
                <label asp-for="@Model.SpecialDetails" class="label-control pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="SpecialDetails" class="form-control" />
                <span asp-validation-for="SpecialDetails" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="@Model.VillaId" class="label-control pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="VillaId" class="form-control" />
                <span asp-validation-for="VillaId" class="text-danger"></span>
            </div>
            <div class="col-5 offset-2">
                <a asp-action="Index" asp-controller="VillaNumber" class="btn-primary btn form-control">Back To List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Update" class="btn-success btn form-control" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}                